@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@source "../js/*.js";

body {
  font-family: sans-serif;
}

/* @theme {
  --container-sm: 36rem;
  --container-md: 48rem;
  --container-lg: 62rem;
  --container-xl: 75rem;
  --container-2xl: 78.5rem;
}

@utility container {
  margin-inline: auto;
  padding-inline: 16px;
  padding-block: 16px;
  @variant sm {
    max-width: var(--container-sm);
  }
  @variant md {
    max-width: var(--container-md);
  }
  @variant lg {
    max-width: var(--container-lg);
  }
  @variant xl {
    max-width: var(--container-xl);
  }
  @variant 2xl {
    max-width: var(--container-2xl);
  }
} */

aside#exam-aside {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  z-index: 9999;

  justify-content: center;
  align-items: center;
}

aside#exam-aside {
  @apply hidden md:block md:z-auto md:static md:inset-auto md:bg-transparent md:w-auto md:h-auto;
}



.swal-icon--warning {
  @apply bg-red-200 border-red-700 animate-none;
}

.swal-icon--warning__body,
.swal-icon--warning__dot {
  @apply bg-red-700;
}

.swal-button.swal-button--confirm.swal-button--danger {
  @apply bg-red-700 focus:shadow-none focus:outline-2 focus:outline-red-600;
}

.swal-button.swal-button--confirm.swal-button--danger:not([disabled]):hover {
  @apply bg-red-400;
}

.swal-icon--success__line {
  @apply bg-green-500;
}

.swal-icon--success__ring {
  @apply border-green-500;
}

.swal-button.swal-button--confirm {
  @apply bg-green-500 focus:shadow-none focus:outline-2 focus:outline-green-600;
}

.swal-button.swal-button--confirm:not([disabled]):hover {
  @apply bg-green-400;
}
